{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling umum */
body {
    font-family: Helvetica, sans-serif;
    background: url('pixel-background.jpg') repeat;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh

.container {
    position: relative;
    margin-top: 50px;
}

.slideshow img {
    width: 300px;
    height: auto;
    border-radius: 15px;
    margin: 20px 0;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Efek fade */
}

/* Tampilkan gambar aktif */
.slideshow-container img.active {
    opacity: 1
}

button {
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dark-mode {
    background-color: #333;
    color: white;
}
